{% extends "./layouts/main.twig" %}
{% set hide_footer = true %}

{% block content %}
	<section class="bg-background">
		{% embed "./layouts/container.twig" %}
			{% block content %}
				<div class="max-w-6xl mx-auto w-full">
					<h1 class="text-h2 text-green-dark mb-5.25">{{cart.title}}</h1>
					<div class="grid grid-cols-1 lg:grid-cols-12 gap-6">
						<div class="lg:col-span-8 space-y-4">
							<div class="lg:col-span-8 space-y-4 pb-32">
								{% for item in cart.items %}
									{% include "components/cart-product-card.twig" with {
   						  	product: item
   							} only %}
								{% endfor %}
							</div>
							<div class="flex justify-between items-center fixed h-17.5 bottom-13 left-0 right-0 bg-[#FCF9F6] border-t border-t-[#E0E0D7] p-3">
								<div class="flex w-46.25 justify-center gap-1.5 items-center text-body-15 text-green-dark">
									Total:
									<span class="text-h3 font-extrabold">269 zł</span>
								</div>
								<button class="flex items-center justify-center h-11.5 w-46.25 text-body-13 bg-[#4D5174] text-white rounded-full">
									Checkout
								</button>
							</div>
						</div>
					</div>
				</div>
			{% endblock %}
		{% endembed %}
	</section>
{% endblock %}
