{% extends "./layouts/main.twig" %}
{% set hide_footer = true %}
{% set hide_header_timer = true %}

{% block content %}
	<section class="flex flex-col grow">
		{% embed "./layouts/container.twig" %}
			{% block content %}
				<div class="flex flex-col gap-3">
					<h1 class="text-h2 text-green-default uppercase">{{ checkout.pageTitle }}</h1>

					<form class="flex flex-col gap-3 mb-18.5">
						{% for section in checkout.form.sections %}
							<div class="bg-white rounded-xl shadow-[0_2px_32px_rgba(0,0,0,.08)] px-3 py-4">
								<h2 class="text-h3 text-green-default mb-5">{{ section.title }}</h2>
								<div class="flex flex-col gap-3">
									{% for field in section.fields %}
										{% include "components/form-field.twig" with field %}
									{% endfor %}
								</div>
							</div>
						{% endfor %}
					</form>
				</div>
			{% endblock %}
		{% endembed %}

		<div class="fixed bottom-13.5 inset-x-0 p-3 sm:px-8 lg:px-29.25 bg-[#FCF9F6] border-t border-[#E0E0D7]">
			<div class="max-w-4xl mx-auto">
				{% include "components/button.twig" with checkout.cta %}
			</div>
		</div>
	</section>
{% endblock %}
