{# Desktop add-to-cart bar: total price, quantity stepper, add-to-cart button + feature badges #}
<div
	class="flex flex-col gap-5 p-5 bg-white shadow-[0_2px_32px_rgba(0,0,0,.08)] rounded-4xl"
	x-data="{ qty: {{ quantity|default(1) }} }"
>
	<div class="flex items-center justify-between gap-4 flex-wrap">
		{# Total price #}
		<div class="flex items-center gap-2">
			<span class="text-[16px] text-green-default">Całkowita cena:</span>
			<span class="text-[22px] font-bold text-green-default">{{ total|default('0 zł') }}</span>
		</div>

		<div class="flex items-center gap-6">
			{# Quantity stepper #}
			<div class="flex items-center gap-2.5 bg-[#FCF9F6] border border-[#E0E0D7] rounded-2xl p-4 h-13">
				<button
					type="button"
					@click="qty = Math.max(1, qty - 1)"
					class="flex size-5 items-center justify-center cursor-pointer transition-colors hover:bg-green-easy hover:text-white"
					aria-label="Zmniejsz ilość"
				>
					<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M15.8333 10H4.16658" stroke="#6D9586" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
					</svg>
				</button>
				<span class="text-[22px] font-semibold text-green-default min-w-8 text-center" x-text="qty">{{ quantity|default(1) }}</span>
				<button	
					type="button"
					@click="qty++"
					class="flex size-5 items-center justify-center cursor-pointer transition-colors hover:bg-green-easy hover:text-white"
					aria-label="Zwiększ ilość"
				>
					<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M10 4.16699V15.8337" stroke="#6D9586" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
					<path d="M15.8335 10H4.16683" stroke="#6D9586" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
					</svg>
				</button>
			</div>

			{# Add to cart #}
			<button
				type="button"
				class="flex items-center justify-center px-16 gap-2.5 bg-purple-dark text-gray-6 border-2 border-purple-dark rounded-full py-3 font-medium text-[14px] transition-all hover:opacity-90"
			>
				<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
				<g clip-path="url(#clip0_3035_7484)">
				<path d="M6.66683 18.3337C7.12707 18.3337 7.50016 17.9606 7.50016 17.5003C7.50016 17.0401 7.12707 16.667 6.66683 16.667C6.20659 16.667 5.8335 17.0401 5.8335 17.5003C5.8335 17.9606 6.20659 18.3337 6.66683 18.3337Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M15.8333 18.3337C16.2936 18.3337 16.6667 17.9606 16.6667 17.5003C16.6667 17.0401 16.2936 16.667 15.8333 16.667C15.3731 16.667 15 17.0401 15 17.5003C15 17.9606 15.3731 18.3337 15.8333 18.3337Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M1.7085 1.70801H3.37516L5.59183 12.058C5.67314 12.4371 5.88405 12.7759 6.18826 13.0162C6.49246 13.2565 6.87092 13.3833 7.2585 13.3747H15.4085C15.7878 13.3741 16.1556 13.2441 16.451 13.0062C16.7465 12.7683 16.9519 12.4368 17.0335 12.0663L18.4085 5.87467H4.26683" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
				</g>
				<defs>
				<clipPath id="clip0_3035_7484">
				<rect width="20" height="20" fill="white"/>
				</clipPath>
				</defs>
				</svg>
				Dodaj do koszyka
			</button>
		</div>
	</div>

	{# Feature badges #}
	<div class="flex items-center gap-10 flex-wrap pt-5 border-t border-[#E0E0D7] text-body-13 text-green-default">
			<span class="flex items-center gap-1.5">
				<svg width="30" height="20" viewBox="0 0 30 20" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M5.65614 0.926544C5.35288 1.27725 5.33197 2.08049 5.62477 2.25019C5.95939 2.44251 6.25219 2.37463 6.42996 2.08049L6.59727 1.79766L13.363 1.82028L20.1182 1.85422V8.81182V15.7694H16.7406H13.3525L13.2166 15.3395C13.0074 14.6947 12.5787 14.1516 11.9826 13.8235C11.533 13.5633 11.3029 13.5181 10.6546 13.5068C9.71347 13.5068 9.21153 13.7557 8.59457 14.5137C7.33972 16.0522 7.92532 18.5072 9.70301 19.1634C11.2402 19.729 12.8506 18.8353 13.3107 17.1496C13.363 16.9686 13.6453 16.9573 17.8804 16.9799L22.3874 17.0139L22.5233 17.4551C22.858 18.4846 23.7468 19.1973 24.8553 19.2991C26.0683 19.4236 27.1349 18.7561 27.6055 17.5908L27.8564 16.9573H28.4629C29.1426 16.9573 29.5714 16.765 29.8328 16.3464C29.9792 16.0975 30.0001 15.6902 30.0001 13.4276V10.7916L28.8603 8.18959C27.1558 4.25261 27.1872 4.28655 23.5481 4.28655H21.2162V2.72534C21.2162 1.232 21.2058 1.14149 20.9757 0.915232L20.7352 0.666342H13.3107H5.87574L5.65614 0.926544ZM26.3297 5.71201C26.5388 5.84777 26.8944 6.53787 27.7832 8.50636L28.9544 11.131V13.4163C28.9544 15.9391 28.9858 15.826 28.2224 15.826C27.8564 15.826 27.8146 15.792 27.6996 15.4413C27.2499 13.9593 25.5768 13.0882 24.2174 13.6086C23.3808 13.9367 22.7429 14.6381 22.4815 15.5092C22.356 15.9278 22.3456 15.9391 21.9168 15.8712C21.6763 15.8373 21.4149 15.792 21.3522 15.7581C21.2476 15.7242 21.2162 14.6042 21.2162 10.6219V5.531H23.6318C25.65 5.531 26.0892 5.56494 26.3297 5.71201ZM11.3866 14.8304C11.7003 15.0001 11.9408 15.249 12.0872 15.5431C13.0283 17.3533 10.8428 19.1181 9.49387 17.6587C8.83508 16.9347 8.86645 15.792 9.56707 15.068C10.1004 14.525 10.686 14.4571 11.3866 14.8304ZM25.7755 14.7965C26.4029 15.1019 26.6957 15.611 26.7062 16.4029C26.7062 17.4777 26.0996 18.1452 25.1062 18.1452C24.1128 18.1452 23.4854 17.4551 23.4749 16.3803C23.4749 15.7015 23.7677 15.1698 24.3429 14.8417C24.8971 14.525 25.2108 14.5137 25.7755 14.7965Z" fill="#969998"/>
				<path d="M23.0984 6.78753C22.9624 6.85541 22.8056 6.95723 22.7638 7.03642C22.7219 7.11561 22.6801 7.89622 22.6801 8.77865C22.6801 10.9847 22.5232 10.849 25.0748 10.849H27.0616L27.2707 10.5435C27.4171 10.3512 27.4694 10.1702 27.4276 10.0118C27.2603 9.44612 26.11 6.9346 25.9532 6.79884C25.744 6.62915 23.4958 6.61783 23.0984 6.78753ZM25.8068 8.72208C26.0264 9.24249 26.1728 9.70633 26.1309 9.75158C26.0996 9.79683 25.5244 9.81946 24.8656 9.80814L23.6735 9.77421L23.6422 8.93703C23.6212 8.47319 23.6317 8.03198 23.6631 7.94147C23.7049 7.83965 23.9559 7.7944 24.5624 7.7944H25.4094L25.8068 8.72208Z" fill="#969998"/>
				<path d="M2.3202 3.77794C2.05877 3.97027 2.00649 4.38885 2.20517 4.6038C2.38294 4.79613 8.2598 4.79613 8.43757 4.6038C8.58397 4.44542 8.59442 4.07209 8.45848 3.83451C8.30163 3.57431 2.65483 3.51774 2.3202 3.77794Z" fill="#969998"/>
				<path d="M0.0719498 7.07027C-0.0221635 7.2739 -0.0221635 7.40966 0.0614928 7.54542C0.155606 7.71512 0.552974 7.73774 3.98288 7.77168C7.69513 7.79431 7.7997 7.79431 7.98793 7.56805C8.14478 7.37572 8.15524 7.29653 8.06113 7.05895L7.93564 6.77613H4.06654H0.197434L0.0719498 7.07027Z" fill="#969998"/>
				<path d="M2.24705 10.0115C2.04836 10.2151 2.02745 10.5206 2.20522 10.7129C2.29933 10.8147 3.10452 10.8486 5.16456 10.8486C8.14482 10.8486 8.24939 10.826 8.24939 10.3395C8.24939 9.85307 8.13436 9.83045 5.20639 9.83045C2.80127 9.83045 2.38299 9.85307 2.24705 10.0115Z" fill="#969998"/>
				<path d="M5.59334 12.5002C5.4574 12.6473 5.42603 12.998 5.42603 14.5139C5.42603 16.358 5.42603 16.358 5.69791 16.6634C6.19985 17.1951 7.30829 17.0141 7.30829 16.4032C7.30829 16.1656 7.02595 15.8602 6.73316 15.8036C6.53447 15.7697 6.52401 15.6679 6.49264 14.1972C6.48219 13.2695 6.41944 12.5568 6.34624 12.4662C6.19985 12.2626 5.79202 12.2852 5.59334 12.5002Z" fill="#969998"/>
				</svg>
				Darmowa wysyłka
			</span>
			<span class="flex items-center gap-1.5">
				<svg width="32" height="22" viewBox="0 0 32 22" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M18.9624 0.0921745C17.2772 0.417276 15.3073 1.29169 13.941 2.33426C10.8894 4.65481 9.09039 9.02687 9.72803 12.603C10.6162 17.6589 14.59 21.3919 19.6683 21.9413C22.959 22.2888 26.4204 21.078 28.766 18.7463C31.8517 15.6858 32.8082 11.3026 31.2938 7.18836C30.9181 6.14579 30.0185 4.65481 29.1873 3.71313C27.9234 2.24457 25.5892 0.82085 23.6308 0.293962C22.5832 0.0249119 19.9302 -0.098402 18.9624 0.0921745ZM22.4921 1.25806C25.6917 1.80737 28.5042 3.97097 29.8933 6.96415C31.6468 10.7196 30.8839 14.8787 27.8779 17.9279C26.1586 19.6767 23.8813 20.6633 21.2396 20.7866C19.1332 20.8875 17.448 20.4615 15.5123 19.3404C14.6242 18.836 12.8023 17.0087 12.2672 16.1118C10.6617 13.3765 10.3884 10.3609 11.5157 7.52467C13.2806 3.07414 17.8465 0.462118 22.4921 1.25806Z" fill="#969998"/>
				<path d="M20.1684 4.17288C20.0211 4.38364 20 4.90498 20 7.62263V10.8173L20.2842 11.0946C20.4316 11.2388 20.7368 11.4717 20.9368 11.6159C21.1474 11.749 21.7579 12.1927 22.3053 12.6031C22.8421 13.0246 23.3895 13.3574 23.5158 13.3574C23.8105 13.3574 24 13.1578 24 12.8361C24 12.6364 23.6947 12.3369 22.5789 11.4717L21.1579 10.3625V7.38969C21.1579 4.16179 21.1158 3.92885 20.5789 3.92885C20.4421 3.92885 20.2526 4.03977 20.1684 4.17288Z" fill="#969998"/>
				<path d="M3.42428 4.82857C3.14341 4.95714 3.12261 5.22143 3.38267 5.37857C3.5491 5.48571 3.89238 5.5 5.98324 5.5C8.26134 5.5 8.40698 5.49286 8.60462 5.35714C8.87508 5.17143 8.86468 5.05714 8.57341 4.87143C8.34456 4.72143 8.25094 4.71429 5.99364 4.71429C4.04841 4.71429 3.62192 4.73571 3.42428 4.82857Z" fill="#969998"/>
				<path d="M0.235759 10.3286C-0.0689424 10.4643 -0.0802277 10.6714 0.213188 10.8571C0.427608 10.9929 0.585601 11 3.97117 11C7.80815 11 8 10.9786 8 10.6071C8 10.2357 7.79687 10.2143 3.99374 10.2143C1.00315 10.2143 0.450178 10.2286 0.235759 10.3286Z" fill="#969998"/>
				<path d="M3.4139 15.8286C3.24586 15.9071 3.18284 16 3.20385 16.1286C3.25636 16.4571 3.55044 16.5 6.05008 16.5H8.33966L8.60223 16.3214C8.81228 16.1786 8.84379 16.1143 8.74927 16C8.54972 15.7429 8.28715 15.7143 5.94505 15.7143C4.01256 15.7143 3.61345 15.7357 3.4139 15.8286Z" fill="#969998"/>
				</svg>

				Tego samego dnia
			</span>
			<span class="flex items-center gap-1.5">
				<svg width="28" height="22" viewBox="0 0 28 22" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M1.5821 0.188768C1.33609 0.276859 0.949489 0.541134 0.738616 0.767656C-0.0345811 1.57306 -0.022866 1.40947 0.0122793 9.45097L0.0474247 16.6871L0.363733 17.2156C0.53946 17.4925 0.937773 17.8952 1.24237 18.084L1.80469 18.4363L9.20864 18.4741L16.6009 18.5118L16.9758 19.1285C17.7958 20.5128 19.4359 21.6328 21.0526 21.9222C22.7513 22.2243 24.6843 21.6328 26.0198 20.3869C28.0465 18.4992 28.5854 15.2273 27.3202 12.5216C26.875 11.5778 25.6332 10.3445 24.6257 9.81593L23.7705 9.38805V5.66303V1.9506L23.4191 1.30879C23.1496 0.792824 22.9388 0.578888 22.4584 0.327198L21.8493 0H11.95C3.81969 0.0125847 1.95699 0.0377541 1.5821 0.188768ZM21.8375 1.43464C22.4467 1.71149 22.599 2.16454 22.599 3.69985C22.599 4.45492 22.5522 5.03381 22.4819 5.05898C22.4233 5.07156 17.6084 5.07156 11.7977 5.03381L1.21894 4.97089L1.18379 3.7376C1.16036 2.81893 1.19551 2.40364 1.33609 2.08903C1.72269 1.2207 1.23065 1.25845 11.8563 1.25845C19.8694 1.25845 21.4978 1.28362 21.8375 1.43464ZM22.5756 7.76465L22.5404 9.12378L21.6032 9.19928C20.0803 9.32513 18.8853 9.92919 17.7724 11.1373C16.5423 12.4713 15.9917 14.0066 16.062 15.932L16.0971 17.1149H9.15007C3.06992 17.1149 2.15615 17.0898 1.85155 16.9136C1.18379 16.5486 1.16036 16.3347 1.16036 11.2254C1.16036 8.67073 1.19551 6.54395 1.24237 6.5062C1.27751 6.45586 6.10414 6.41811 11.9617 6.41811H22.6107L22.5756 7.76465ZM22.8333 10.5836C25.4458 11.0366 27.2851 13.9688 26.6642 16.6871C26.3361 18.0714 25.7035 19.0655 24.6726 19.7954C23.712 20.475 22.9856 20.6764 21.7204 20.6134C20.7949 20.5757 20.5372 20.5128 19.8811 20.1604C17.5615 18.9397 16.6243 15.8942 17.7724 13.3522C18.3933 11.993 19.8225 10.8227 21.1581 10.571C21.9547 10.4326 21.9898 10.4326 22.8333 10.5836Z" fill="#969998"/>
				<path d="M3.05208 10.868C2.77542 11.0766 2.76285 11.1747 2.7377 12.4018C2.71255 14.2423 2.64967 14.1932 5.49167 14.1932H7.67976L7.93127 13.8742C8.15762 13.6043 8.19535 13.3711 8.19535 12.5122C8.19535 10.7084 8.09475 10.6471 5.4288 10.6471C3.61796 10.6348 3.31616 10.6716 3.05208 10.868ZM6.93783 12.414V12.9662H5.4288H3.91977V12.414V11.8619H5.4288H6.93783V12.414Z" fill="#969998"/>
				<path d="M22.9465 15.0996C22.1182 15.9884 21.4153 16.7157 21.3651 16.7157C21.3275 16.7157 21.0011 16.4059 20.6623 16.0423C20.0222 15.3555 19.5829 15.1938 19.2691 15.5305C18.9428 15.8807 19.1311 16.2713 20.1226 17.3622C21.0639 18.3992 21.3777 18.6012 21.6914 18.3588C22.1307 18.0355 25.2684 14.3992 25.2684 14.2242C25.2684 13.9817 24.8291 13.4834 24.6032 13.4834C24.5154 13.4834 23.7749 14.2107 22.9465 15.0996Z" fill="#969998"/>
				</svg>

				Płatność online
			</span>
	</div>
</div>
