<h2 class="text-h2 text-green-default mb-6 md:text-[32px] md:font-semibold md:leading-tight">
    Recenzje produktów ({{ reviews|length }})
</h2>

{% if reviews and reviews|length > 0 %}
    <div class="grid grid-cols-1 gap-2 mb-2">
        {% for review in reviews %}
            {% include 'review-card.twig' with review %}
        {% endfor %}
    </div>

    <div class="flex justify-center">
        {% include 'button.twig' with {
            text: 'Більше відгуків',
            link: '#reviews',
            target: '_self',
            variant: 'border',
            size: 'lg',
            showIcon: false
        } %}
    </div>
{% endif %}