<div class="bg-background">
	<div class="px-3">
		<h2 class="text-h2 mb-3.5 text-green-dark">
			Dodatki do kwiatów
		</h2>

		<div class="grid grid-cols-2 gap-3">
			{% for item in additions %}
				{% include "product-addition-item.twig" with {item: item} %}
			{% endfor %}
		</div>
	</div>
</div>
