<div class="flex flex-wrap gap-2">
	{% for variation in variations %}
		<button 
			class="group flex-1 text-nowrap flex flex-col gap-1 items-start justify-center px-3 py-2 bg-white border border-[#E0E0D7] rounded-xl transition-all active:border-green-easy active:shadow active:bg-green-easy md:px-4 md:py-3 md:rounded-2xl"
			data-variation-id="{{ variation.id }}"
		>
            <div class="flex items-center gap-1.5 text-gray-2 group-active:text-background lg:flex-col lg:items-start ">
                <span class="text-[14px] font-medium leading-tight md:text-[16px] lg:text-[13px] lg:font-normal">
                    {{ variation.name }}
                </span>
                <span class="text-[15px] font-bold leading-tight md:text-[16px] lg:text-[22px]">
                    {{ variation.price }}
                </span>
            </div>
			<span class="text-[12px] text-gray-3 group-active:text-background md:text-[13px]">
				{{ variation.description }}
			</span>
		</button>
	{% endfor %}
</div>
