<section>
	{% embed "../layouts/container.twig" %}
		{% block content %}
			<div class=" flex flex-col gap-6 lg:gap-12">
				{% if fields.title %}
					<h2 class="text-h2 col-span-7 text-green-default md:text-[40px] md:leading-10">{{ fields.title }}</h2>
				{% endif %}

				{% if fields.list %}
   				<div class="h-px bg-linear-to-r from-green-default from-60% to-transparent z-0 hidden lg:block"></div>
 				  <div class="relative col-span-full ml-2 lg:grid lg:grid-cols-4 lg:-mt-6 lg:ml-0 lg:gap-6">
   				  <div class="absolute left-[3.5px] top-1 bottom-0 w-px bg-linear-to-b from-green-default from-80% to-transparent z-0 lg:hidden"></div>
  				  {% for item in fields.list %}
      			<div class="relative pl-6 pb-5 last:pb-0 z-10 lg:pl-0">
      			  <div class="absolute size-2 bg-green-default rounded-full left-0 top-1 lg:-top-7.5 lg:size-3"></div>
      			  <div class="flex flex-col text-green-dark">
      			    <h3>
      			      <span class="text-h3 lg:text-[22px] lg:mb-3"><span class="text-2xl font-semibold hidden mr-2 lg:inline">0{{loop.index}}</span> {{ item.title }}</span>
      			    </h3>
      			    <p class="text-body-13 mt-1 lg:text-[16px]">{{ item.text }}</p> 
      			  </div>
      			</div>
   				  {% endfor %}
 					</div>
				{% endif %}
			</div>
		{% endblock %}
	{% endembed %}
</section>
