<section class="bg-[#E5EFDE] py-12">
	{% embed "../layouts/container.twig" %}
		{% block content %}
			<div class="flex flex-col gap-y-6 pt-1.5">
				{% if fields.title %}
					<div class="mb-6 relative">
						{# Subtitle in background #}
						{% if fields.subtitle %}
							<div class="absolute -bottom-2 left-18 text-[37px] uppercase leading-15 font-deco text-[#E0E0D7] pointer-events-none select-none z-0">
								{{ fields.subtitle }}
							</div>
						{% endif %}
						{# Main title #}
						<h2 class="text-h2 text-green-default relative z-10">{{ fields.title }}</h2>
					</div>
				{% endif %}
				<div class="grid grid-cols-2 gap-x-2.75 gap-y-6 auto-rows-auto sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5">
					{% if fields.list %}
						{% for item in fields.list %}
							{% include "../tease/product-3.twig" with { item: item } %}
						{% endfor %}
					{% endif %}
				</div>
				{% if fields.button %}
					<div class="flex justify-center flex-1 min-w-max">
						{% include '../components/button.twig' with {
                                text: fields.button.text,
                                link: fields.button.link,
                                variant: fields.button.variant|default('green'),
                                size: fields.button.size|default('lg'),
                                target: fields.button.target|default('_self'),
                                showIcon: fields.button.showIcon|default(false)
                            } %}
					</div>
				{% endif %}
			</div>
		{% endblock %}
	{% endembed %}
</section>
