<section class="text-dark-text -mt-6 lg:-mt-16">
	{% embed "../layouts/container.twig" %}
		{% block content %}
			{% if fields.reviews %}
				<div class="grid grid-cols-1 lg:grid-cols-4 gap-3">
					{% for review in fields.reviews %}
						{% include '../components/review-card.twig' with review %}
					{% endfor %}
				</div>
			{% endif %}
		{% endblock %}
	{% endembed %}
</section>
