<section class="relative">
	{% embed "../layouts/container.twig" %}
		{% block content %}
			{% if fields.title %}
				<h2 class="text-dark-text text-lg font-extrabold uppercase">{{ fields.title|format_title }}</h2>
			{% endif %}
			{% if fields.subtitle %}
				<p class="text-dark-text text-[15px] font-normal">{{ fields.subtitle }}</p>
			{% endif %}

			<div class="events-swiper swiper -mx-3! overflow-hidden">
				<div class="swiper-wrapper">
					{% for item in fields.items %}
						<a href="{{ item.link }}" target="{{ item.target|default('_self') }}" class="swiper-slide w-71.5! first:ml-3! last:mr-3!">
							{% include '../components/slider-product-card.twig' with item %}
						</a>
					{% endfor %}
				</div>

				<!-- Pagination -->
				<div class="swiper-pagination relative! mt-8"/>
			</div>
		{% endblock %}
	{% endembed %}
</section>
