<header class="border-b border-[#426E59] sticky top-0 z-50">
    {# Timer #}
    <div class="flex items-center justify-between gap-4 bg-primary py-2 pr-11.5 pl-4">
        <div class="flex flex-col">
            <p class="text-gray-6 text-[16px] leading-4.75">Dostawa kwiatów nawet dziś</p>
            <p class="text-gray-4 text-[14px] leading-3.75">Zamów w ciągu:</p>
        </div>
        <div class="text-gray-6 text-[19px] leading-5.25 font-semibold">02:14:36</div>
    </div>
    <div class="flex items-center justify-between gap-4 p-3 bg-background">
        <img src="/logo-dark.svg" alt="Logo" width="66" height="31">
        {% include "../components/button.twig" with {
            text: "+48 797 115 220",
            link: "tel:+48797115220",
            variant: "border",
            size: "xs",
            showIcon: false
        } %}
    </div>
</header>